

<footer class="section10">
  
    
        <p class="tex">Copyright @2021 | MyCourses. All right reserved</p>
        
        
        <div class="aa">
          <a href="" class="footer_l"><i class="www fab fa-twitter icon3"></i></a>
          <a href="" class="footer_l"> <i class="www fab fa-instagram icon3"></i></a>
          <a href="" class="footer_l"><i class="www fab fa-facebook-f icon3"></i></a>
            <a href="" class="footer_l"><i class="www fas fa-envelope icon3"></i></a>
        </div>
      
      
     
</footer>
<script>
  if (document.body.clientHeight <= screen.height){
  
      
      document.querySelector("footer").classList.add("pos-fixed");
      document.querySelector("footer").classList.remove("pos-relative");

  }

  else{
      
      document.querySelector("footer").classList.remove("pos-fixed");
      document.querySelector("footer").classList.add("pos-relative");
  }
</script>
</body>

</html>
