<style>
   
   body{
    
    /* background-image: linear-gradient(135deg, #fbc6a4,#f4a9a8,#ce97b0); */
    background-image: url(/images/school.png); 
    overflow-x: hidden;
    
}
.error{
    padding-top: 220px;
    text-align: center;
}
h1{
    font-size: 70px;
}
h3{
    font-size: 40px;
}
h4{
    font-size: 30px;
}
a{
    text-decoration: none;
}
a:hover{
    color:powderblue;
}


      
      
</style>



<div class="error">
    <h1>404 ERROR</h1>
    <h3>The page you are looking for is not available</h3>
    <h4>Click here to go back to the home page: <span><a href="/">Home</a></span></h4>
</div>





